<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Contact</h2>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= contact.nama %></h5>
            <p class="card-text"><%= contact.noHp %></p>
            <p class="card-text"><%= contact.email %></p>
            <a href="/contact" class="btn btn-primary badge"
              >Kembali Ke daftar contact</a
            >
            <a
              href="/contact/delete/<%= contact.nama %>"
              class="btn btn-danger badge"
              onclick="return confirm('anda yakin ingin menghapus??');"
              >Delete</a
            >
            <a
              href="/contact/edit/<%= contact.nama %>"
              class="btn btn-info badge"
              >Update</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
